.home, .home_page, nav, .nav, .navbar, .links, .profile_image, .childern_,
.main_page, .main-memory, .main_grid, main, .memory-container, .mem-wrapper,
.memory_image, .memo-about{
    width: 100%;
    height: 100%;
}

.home{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nav{
    position: relative;
    background: hsl(241, 97%, 24%);
    color: hsl(0, 0%, 100%);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 15px;
}

.links ul, .childern_ ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.childern_{
    padding: 20px;
}

.childern_ li{
    width: 100%;
}

.childern_ ul{
    display: flex;
    align-items: start;
    flex-direction: column;
}

.links ul a, .childern_ ul a, .s{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 6px;
}

.links ul a:hover, .childern_ ul a:hover, .s:hover{
    background: hsla(0, 0%, 100%, 0.108);
}

.profile, .profile_image, .set-profile{
    position: relative;
}

.s{
    cursor: pointer;
}

.profile_image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile_image img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    position: relative;
    cursor: pointer;
}

.setNew{
    position: absolute;
    right: 20px;
    bottom: 0;
}

.set-profile-children{
    width: 200px;
    position: absolute;
    right: 0;
    background: hsl(241, 97%, 24%);
    box-shadow: 0 0 4px 1px hsl(0, 0%, 100%);
}

.main_page, .mem-wrapper{
    padding: 20px;
}

.main_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.mem-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.memory_image img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 4px;
}

.memo-about h3{
    font-weight: 900;
}

.date{
    font-size: .8rem;
    color: hsla(241, 97%, 24%, 0.452);
}