*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.auth{
  width: 100%;
  height: 100vh;
}

.rp, .empty{
  width: 100%;
  height: 100vh;
}

.u, .app-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app-wrapper{
  gap: 0;
  height: 100vh;
}

.login, .login_wrapper, .login_left, .message, .login_right, .auth_wrapper,
.login_auth, .left_image, .form_, .submit, .v, .left_wrap, .password_request,
.request_wrapper, .right_wrapper, .sent_request, .request_form, .email-done,
.password_reset, .reset_password, .upload_data, .upload_wrapper, 
.upload_right_wrapper, .upload_form, .upload_auth, .upload_auth form, 
.form_, .app-wrapper, .app_content, .inner_sel{
  width: 100%;
  height: 100%;

}

.login, .password_request, .padd, .reset, .upload_data{
  padding: 40px;
}

.em{
  position: absolute;
  padding: 20px;
}

.em button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.em button i{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: hsl(241, 97%, 24%);
  transition: all .3s ease;
}

.em button:hover{
  background: hsl(241, 97%, 24%);
}

.em button:hover i{
  color: hsl(0, 0%, 100%);
}

.upload_wrapper{
  display: flex;
}

.line{
  background: hsl(241, 97%, 24%);
  width: 4px;
  height: 100%;
}

.upload_form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.upload_left, .upload_right{
  width: 100%;
}

.upload_input_image{
  width: 100%;
  height: 250px;
}

.upload_input_image label{
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: block;
  position: relative;
}

.not_sel_img{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.3rem;
  font-weight: 700;
  border: 1px dashed hsl(241, 97%, 24%);
}

.media_sel{
  margin: auto;
  position: relative;
}

.media_sel img, .media_sel video{
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.remove_image, .remove_video{
  position: absolute;
  top: 0;
  right: 60px;
}

.remove_image button, .remove_video button{
  padding: 10px;
  color: hsl(0, 100%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  transition: .3s ease-in-out;
}

.remove_image button i, .remove_video button i{
  font-size: 1rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove_image button:hover, .remove_video button:hover{
  color: hsl(0, 0%, 100%);
  background: hsl(0, 100%, 50%);
}

.login_wrapper{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 10px;
  border-radius: 4px;
}

.auth_wrapper, .form_, .right_wrapper, .email-done .padd, .reset{
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.login_left{
  position: relative;
}

.left_wrap, .request_form, .form_, .upload_input, .upload_left_wrap{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.left_image img, .upload_left_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.left_image img{
  width: 80%;
}

.reset_left_image img{
  width: 100%;
  height: 100%;
}

.message{
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
  /* padding-top: 70px; */
}

.auth_head{
  font-size: 1.5rem;
  color: #00000065;
}

.login_auth{
  margin-top: 20px;
}

.login_right{
  border-radius: 6px;
}

.form_{
  gap: 30px;
}

.viewpassword{
  position: relative;
  gap: 10px;
}

.slide label{
  width: 58px;
  height: 28px;
  background: hsla(0, 0%, 85%, 0.32);
  border: none;
  border-radius: 30px;
  transition: all .4s ease;
  cursor: pointer;
  display: block;
  position: relative;
}

.slide label::after{
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: hsl(241, 97%, 24%);
  transition: all .4s ease;
}

.slide input:checked ~ label::after{
  left: 32px;
  background: hsl(0, 0%, 100%);
}

.slide input:checked ~ label{
  background: hsl(241, 97%, 24%);
}

.form_input, .request_form_input, .upload_input{
  position: relative;
}

.form_input label, .request_form_input label, .desck label{
  font-size: 1.2rem;
  color: #000;
  font-weight: 800;
}

.form_input input, .request_form_input input, .desck input{
  width: 100%;
  height: 55px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  padding: 10px 60px 10px 10px;
  color: hsl(241, 97%, 24%);
  font-weight: 700;
  font-size: 1rem;
  margin-top: 10px;
  background: transparent;
  transition: all .3s ease;
}

.form_input input:focus, .request_form_input input:focus, .desck input:focus{
  border: 1px solid hsl(241, 97%, 24%);
}

.form_input button, .request_form_input button{
  position: absolute;
  right: 10px;
  margin-top: 20px;
  background: transparent;
  color: hsl(241, 97%, 24%);
}

.desck button{
  position: absolute;
  right: 10px;
  margin-top: 70px;
  background: transparent;
  color: hsl(241, 97%, 24%);
}

.submit button, .sent_request button, .upload_button button{
  width: 100%;
  height: 50px;
  font-size: 1.3rem;
  background: hsl(241, 97%, 24%);
}


.request_wrapper{
  display: flex;
  gap: 20px;
  align-items: center;
}

.right_mess{
  font-size: .8rem;
}

.email-done .padd{
  justify-content: center;
  align-items: center;
}


.v{
  background: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.view_password{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.mid{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loader {
  width: 38px;
  height: 38px;
  border: 5px dotted #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

@media screen and (max-width:786px) {

  .login{
    padding: 20px;
  }

  .left_wrap .message{
    font-size: 1rem;
    display: none;
  }

  .login_wrapper, .upload_wrapper, .request_wrapper{
    flex-direction: column;
  }

  .upload_left_image{
    display: none;
  }

  .upload_data{
    overflow: auto;
  }

  .remove_image{
    position: relative;
    margin: 10px;
    padding-left: 30px;
  }

  .inner_sel{
    height: 200px;
    position: relative;
  }

  .left_image{
    text-align: center;
  }

  .left_image img{
    width: 30%;
  }

  .line{
    width: 100%;
    height: 3px;
  }



  .right_mess{
    font-size: .7rem;
  }

  .auth_wrapper, .form_{
    gap: 20px;
  }

  .auth_head{
    font-size: 1.1rem;
  }

  .login_auth{
    margin-top: 20px;
  }
  
  .login_right{
    padding: 10px;
  }

  .fpass, .s-text{
    font-size: .7rem;
  }

  .slide label{
    width: 38px;
    height: 22px;
  }

  .slide label::after{
    width: 18px;
    height: 18px;
  }

  .slide input:checked ~ label::after{
    left: 18px;
    background: hsl(0, 0%, 100%);
  }

  .u{
    margin-bottom: 80px;
  }

  .em{
    padding: 10px;
  }

  .password_request{
    padding: 20px;
  }
}
